/* Add your CSS to this file */

/*LANDING PAGE LAYOUT GUIDE*/
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}


.container {

    margin: 0 auto;
    max-width: 960px;
    width: 100%;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 0;
    display:inline-flex;
    float: left;
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 30px;
    justify-content: space-between;
}

nav{
    float:right;
    margin-top: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

nav li {
    display: inline-flex;
    list-style:none;
    margin-right: 20px;
    justify-content: space-between;
}

.overview-hero{
    height: 300px;
    display: flex;
    align-items: center;
}

.overview-hero.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
   
}

.overview-hero-image{
    float: left;

}

.overview-hero-image img {
    max-width: 300px;
    margin-right: 50px;
    border-radius: 5px;
}


.learn-about {
    float: none;
}


.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
}

.card {
    padding: 30px;
}

.btn{
    padding: 15px 30px ;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 5px;
}

.stories article {
    display: flex;
    align-items: center;
}

.article-body {
    flex: 1;
    padding-left: 30px;
}

.newsletter {
    text-align: center;
}
.newsletter.btn{
    font-size: 50px;
}

.form-group {
    display: inline-block;
    margin-right: 10px;
}

.stories {
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start; 
    margin: 20px 0;
}

.stories article {
    display: flex; 
    margin-bottom: 10px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.stories article img {
    margin-right: 30px; 
}

.stories article .article-body {
    flex: 1; 
    padding-left: 30px;
}

.stories article .article-body h3 {
    margin-top: 0; 
}

section {
    margin-bottom: 30px;
}

/*COLOURS AND FONT*/

header {
    background-color: white;
    font-size: 18px;
}

header nav li a {
    color: #6b7280;
    text-decoration: none;
}

header nav li a:hover {
    color: #5A67D8;
}

.learn-about h2 {
    font-size: 24px;
    color: #48BB78;
}

.overview-hero {
    background-color: #E2E8F0;
}


.cards .card {
    border: 2px solid #E2E8F0;
    border-radius: 5px;
    box-shadow: 1px 1px #000000;
}

.cards .card h3 {
    color: #48BB78;
    font-size: 21px;
}

.testing {
    background-color: #4A5568;
    color: white;
    display: flex;
    height: 250px;
    margin: 30px 0;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
}

.testing .container{
    display: inline-flex;
    align-items: center;
}

.testing-desciption {
    flex: 1;
    white-space: normal;
    max-width: 50%; 

}

.cta {
    flex-basis: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: right;
}

.cta a.btn {
    background-color: #48BB78;
    border-radius: 5px;
    margin-left: 200px;
    display:flex;
    margin-top: 80px;
}

.stories h2{
    color: #5A67D8;
}

.stories li {
    color: #5A67D8;
}

.stories article h3 {
    font-size: 18px;
}

   
.stories img {
    border-radius: 100px;
}

.newsletter {
    background-color: #48BB78;
    color: white;
    padding: 50px;

}

.newsletter p{
    display: inline-flex; 
    text-align: justify;
    max-width: 500px;
    margin-top: 10px;
}


.newsletter .btn {
    background-color: #5A67D8;
    margin-left: 50px;
    height: 50px;
    border-radius: 5px;
   
}

.newsletter {
    margin-bottom: 0; 
}


footer{
    background-color: #4A5568;
    color: white;
    padding: 20px; 
    
}

.form-group input[type="email"] {
    width: 100%; 
    padding: 20px; 
    font-size: 18px;
    
}
/*PADDING*/
section {
    padding: 40px;
}



























